a {
    color: #f4645f;
    text-decoration: none;
}

body {
	font-family: "Lato Regular", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

.docs article {
	padding: 25px 50px 50px;
	margin-left: 300px;

	h1 + ul {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 16px;
		line-height: 1.5;
		padding-bottom: 50px;
		border-bottom: 1px solid $color__faint;
		li {
			&:before {
				content: "# ";
				margin-right: .25em;
				color: $color__salmon;
				opacity: .3;
			}
			a {
				text-decoration: none;
			}
		}
	}

	h2 {
		font-size: 36px;
		font-weight: 400;
		position: relative;
		a, a:hover {
			color: $color__gray;
			text-decoration: none;
		}
		a:before {
			content: "#";
			margin-left: -25px;
			position: absolute;
			font-size: 28px;
			top: 5px;
			color: $color__salmon;
			opacity: .6;
		}
	}

	h3 {
		font-size: 24px;
		font-weight: 400;
	}

	h4 {
		font-size: 18px;
		font-weight: 700;
	}

	a {
		text-decoration: underline;
		&:hover {
			color: darken($color__salmon, 10%);
		}
	}

	blockquote a:hover {
		color: lighten($color__salmon, 25%);
	}

	table {
		border-collapse: collapse;
		width: 100%;
		font-size: 14px;
		th, td {
			border: 1px solid $color__lighter_gray;
			padding: 10px;
			text-align: left;
		}
		th {
			font-size: 16px;
		}
	}
}

.docs-wrapper {
	overflow: hidden;
}


.docs article {
  padding: 25px 29px 50px 12px;
  margin-left: 260px;
  font-size: 15px;

	p {
	    margin: 0 0 10px;
	    line-height: 24px;
	}
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.8;
}

code[class*="language-"], pre[class*="language-"] {
font-size: 15px;
}

blockquote {
  font-size: inherit;
  border-left: none;
}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #FFF7E8;
    border-radius: 3px;
}
:not(pre) > code[class*="language-"] {
    background: #FDDF95!important;
    color: #C76205;
    padding: 4px 5px 1px;
    border-radius: 4px!important;
}
blockquote {
    background: #fff;
    color: #fff;
    border-radius: 3px;
    margin: 10px 0 20px;
    padding: 10px 15px;
    border: dashed 1px #E8A2A2;
    border-left: solid 5px rgb(245, 113, 111);
    padding-bottom: 0px;
}
blockquote, blockquote a {
    color: rgb(234, 78, 78);
}

// structure
body.docs {

  background-color: #ebeced;
  background-image: none;

  .docs-wrapper.container {
    border-top: 1px solid #DEDEDE;
  }
  .container {
      width: 1170px;
      background: #fff;
  }
  nav.main {
    border-bottom: none;

    .container {
      border-top: 2px solid #F4645F;
    }
  }
  .sidebar {
      border-right: 1px solid #f0f2f1;
      width: 230px;
      float: left;
      padding: 35px;
  }
  .docs article {
      padding: 25px 26px 50px;
      margin-left: 242px;
      font-size: 15px;
  }
  pre {
    border: 1px solid #E4E4E4;
  }
  footer.main {
      background: #fafafa;
      padding: 35px 20px;
      text-align: center;
      margin-top: 50px;
  }
  .scotch-panel-wrapper {
    margin-top: 22px;
  }

  .sidebar span {
    font-size: 12px;
  }

}
body.docs .sidebar {
    border-right: 1px solid #f0f2f1;
    width: 240px;
    float: left;
    padding: 35px;
    background-color: #FFEDED;
    margin-left: -15px;
    padding-left: 38px;
}

@media (max-width:1080px) {

	.docs article {
		margin-left: 200px;
		padding: 15px 30px 30px;
		h2 a:before {
			margin-left: -20px;
		}
	}

}

@media (max-width:780px) {

	.docs article {
		margin-left: 0px;
        padding: 10px 0;
        padding-top: 20px;

		h1 {
			margin-top: 0;
		}
	}

  body.docs .container {
    width: auto;
  }

  nav.main {
    padding: 0;
  }

  body.docs .scotch-panel-wrapper {
    margin-top:0px;
  }

  body {
    padding-top: 0px;
  }

.buttons a.btn.btn-default {
    margin-right: 15px;
    margin-top: 15px;
}

}

body.docs .sidebar .header a:hover{
    color: #fff;
}

p code {
    background: rgba(245, 233, 134, 0.69);
    color: #E46B67;
    padding: 1px 5px;
    border-radius: 3px;
}
code {
    padding: 2px 4px;
    font-size: 100%;
    color: #E46B67;
    background-color: rgba(245, 233, 134, 0.69);
    border-radius: 4px;
}

// Night mode, color only
body.docs.nightmode{
    background-color: #56585A;
    color: #E2E2E2;

    pre {
        border: 1px solid #888585;
    }
    a {
        color: #3BA8AB;
    }
    .sidebar a:hover, a:hover {
        color: #30E7EC;
    }

    .docs-wrapper.container {
        border-top: 1px solid #797979;
    }
    .sidebar {
        border-right: 1px solid #797979;
    }

    .sidebar, .container {
        background: #424141;
    }

    :not(pre) > code[class*="language-"], pre[class*="language-"] {
        background: #1E3B50;
    }
    code[class*="language-"], pre[class*="language-"] {
        text-shadow: none;
        color: #D8D8D8;
        background: #1E3B50;
    }
    .token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
        color: #E0D7E6;
    }
    .token.function {
        color: #C59BE2;
    }
    .token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
        color: #E2E2E2;
    }
    .alert-warning {
        color: #E8DB99;
        background-color: #394644;
        border-color: #B58F4D;
    }
    article h2 a, article h2 a:hover {
        color: #D2D0D0;
    }
    article h1 + ul li:before {
        color: #9AB6B7;
        opacity: 0.7;
    }
    nav.main ul.main-nav > li > a {
        color: #B7B7B7;
    }
    .btn {
        background: #6D6C6C;
    }

    code {
        background: #279BD8;
        color: #DCD8D8;
    }
    blockquote {
        background: #0B80BD;
    }

    blockquote, blockquote a {
        color: #fff;
    }

    footer.main {
        background: #56585A;
    }
    footer.main > ul > li > a {
        color: #CCCCCC;
    }
    .token.scope {
        color: #F6A853;
    }
    .token.atrule, .token.attr-value, .token.keyword {
        color: #3AF1B0;
    }
    #scrollUp {
        color: #D0D0D0;
    }
    ul ul, ol ul {
        list-style: none;
    }
    .slide-menu .slide-main-nav a, .slide-menu .slide-docs-nav a {
        color:#fff;
    }

    .sidebar ul>li>ul>li.active, .sidebar ul>li>ul>li:hover{
        color: #FFFFFF;
        background: #2499D6;
    }

    .sidebar ul li a{
        text-decoration: none;
    }

}

.docs article blockquote a:hover {
    color: #FF8079;
}

.sidebar ul li{
    text-align: left;
    padding-left: 4px;
}

.sidebar ul li a{
    padding: 3px 2px;
    display: block;
    text-decoration: none;
}

.sidebar ul li.active a, .sidebar ul li a:hover{
    color: #FFFFFF;
}

.sidebar ul>li>ul>li.active, .sidebar ul>li>ul>li:hover{
    color: #FFFFFF;
    background: #F58D8A;
}

blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child {
    margin-bottom: 10px;
}

.docs article h2 a:before {
    content: none;
}

.docs article h2 a.anchor, .docs article a.anchor {
    color: #f4645f;
    opacity: .8;
    text-decoration: none;
    padding-left: 4px;
}
.docs article h1 a.anchor {
    display: none;
}